/*---------------------------------------
fonts
----------------------------------------*/
body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0px;   
}
/*----------------------------------
 banner
 -----------------------------------*/
.top-banner{
    display: flex;
    background-color: black;
    color: white;
    margin: 50px;
    margin-left: 170px;
    padding-left: 100px;
    padding-right: 70px;
    padding-top: 15px;
    border-radius: 15px;
    width: 60%;
}
.greatest-show{
    font-size: 50px;
}
.btn{
    color: white;
    text-decoration: none;
    background-color: red;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.banner{
    width: 100%; 
}
/*------------------------------------------- 
Match fixtures start here  
---------------------------------------------*/
.boxes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.box {
    background-color: black;
    width: 250px;
    height: 300px;
}
.match {
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
}
.group {
    text-decoration: none;
    color: rgb(7, 7, 7);
    background-color: rgb(247, 242, 242);
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
}
.blog {
    text-decoration: none;
    color: rgb(7, 7, 7);
    background-color: rgb(247, 242, 242);
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
}
.column1 {
    margin: 10px 10px 10px 10px;
}
/* footer  */
footer{
    background-color: black;
    color: white;
}
.goal{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    padding-top: 90px;
    padding-bottom: 50px;
}
.footer-paragraph{
    display: flex;
    justify-content: center;
}
.footer-items{
    display: flex;
    justify-content: center;
    padding: 0 5px 0 5px;
    padding-bottom: 50px;
    padding-top: 20px;
    text-decoration: none;
}
.contact{
    text-decoration: none;
    color: white;
    font-size: 14px;
    padding: 10px;

}
